@model GeneralCommonSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem"></span>
        </div>
    </div>
</div>