@model ChangePasswordModel
@{
    Layout = "_ColumnsAdmin";

    //title
    ViewBag.PageTitle = T("Account.ChangePassword").Text;
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}


<form asp-route="CustomerChangePassword" method="post" autocomplete="off">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Account.MyAccount") - @T("Account.ChangePassword")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Common.Save")
            </button>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="message-error"></div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-secondary card-outline">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="OldPassword" asp-postfix=":" class="col-form-label"></nop-label>
                                </div>
                                <div class="col-md-6">
                                    <nop-editor asp-for="OldPassword" />
                                    <nop-required />
                                    <span asp-validation-for="OldPassword"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="NewPassword" asp-postfix=":" class="col-form-label"></nop-label>
                                </div>
                                <div class="col-md-6">
                                    <nop-editor asp-for="NewPassword" />
                                    <nop-required />
                                    <span asp-validation-for="NewPassword"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ConfirmNewPassword" asp-postfix=":" class="col-form-label"></nop-label>
                                </div>
                                <div class="col-md-6">
                                    <nop-editor asp-for="ConfirmNewPassword" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmNewPassword"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
